/* You can add global styles to this file, and also import other style files */

// Partials
@import "partials/typography";

// Google Material Themes
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
