<div class="info">
  <div class="info-body">
    <div class="header-info">
      <h1 translate>{{'home.greeter.header'}}</h1>
      <p translate>{{'home.greeter.info'}}</p>
      <div class="bounce" (click)="scrollDown()">
        <span class="fa fa-angle-down fa-2x"></span>
      </div>
    </div>
    <div>
      <div class="input-section">
       <!-- <p>The following section is created as an example on how to use Protractor-testing</p>
        <input class="greeting-input" [(ngModel)]="name">
        <button class="greeting-button" (click)="sayHello()">Say Hello</button>
        <div>
          {{greeting}}
        </div>-->
      </div>
    </div>
  </div>
</div>
