.info {
  font-family: roboto;
  position: absolute;
  color: #3C4043;
  width: 100%;
  transform: translateX(-50%);
  top: 75%;
  left: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
  .input-section{
    margin-top:200px;
  }

}

.header-info{
  font-size: 22px;
  text-align: center;
}

.greeting-button{
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: 1px solid black;
  height: 25px;
}

.greeting-input{
  height: 19px;
}


.bounce {
  cursor: pointer;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}
