<a class="navigate-back-button" [routerLink]="'/'" translate>navigation.back</a>
<div class="container col-md-10">
  <div class="table-container">
    <h2 class="header"> Hyperspace Travel Time (Hours) </h2>
    <div class="table repsonsive-table table-section" data-module="responsive-table">
      <table>
        <thead>
        <tr class="table-header">
          <th class="table-header-title" scope="col">Traveling From</th>
          <th class="table-header-column" scope="col">Deep Core</th>
          <th class="table-header-column" scope="col">Core</th>
          <th class="table-header-column" scope="col">Colonies</th>
          <th class="table-header-column" scope="col">Inner Rim</th>
          <th class="table-header-column" scope="col">Expansion</th>
          <th class="table-header-column" scope="col">Mid Rim</th>
          <th class="table-header-column" scope="col">Outer Rim</th>
          <th class="table-header-column" scope="col">Wild</th>
          <th class="table-header-column" scope="col">Unknown</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-data">
          <td class="table-data-property" data-label="Traveling From">Deep Core</td>
          <td class="table-data-value" data-label="Deep Core">12</td>
          <td class="table-data-value" data-label="Core">18</td>
          <td class="table-data-value" data-label="Colonies">24</td>
          <td class="table-data-value" data-label="Inner Rim">48</td>
          <td class="table-data-value" data-label="Expansion">72</td>
          <td class="table-data-value" data-label="Mid Rim">96</td>
          <td class="table-data-value" data-label="Outer Rim">120</td>
          <td class="table-data-value" data-label="Wild">144</td>
          <td class="table-data-value" data-label="Unknown">168</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Core Worlds</td>
          <td class="table-data-value" data-label="Deep Core">24</td>
          <td class="table-data-value" data-label="Core">6</td>
          <td class="table-data-value" data-label="Colonies">24</td>
          <td class="table-data-value" data-label="Inner Rim">36</td>
          <td class="table-data-value" data-label="Expansion">60</td>
          <td class="table-data-value" data-label="Mid Rim">84</td>
          <td class="table-data-value" data-label="Outer Rim">96</td>
          <td class="table-data-value" data-label="Wild">120</td>
          <td class="table-data-value" data-label="Unknown">144</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Colonies</td>
          <td class="table-data-value" data-label="Deep Core">48</td>
          <td class="table-data-value" data-label="Core">24</td>
          <td class="table-data-value" data-label="Colonies">12</td>
          <td class="table-data-value" data-label="Inner Rim">24</td>
          <td class="table-data-value" data-label="Expansion">48</td>
          <td class="table-data-value" data-label="Mid Rim">72</td>
          <td class="table-data-value" data-label="Outer Rim">96</td>
          <td class="table-data-value" data-label="Wild">120</td>
          <td class="table-data-value" data-label="Unknown">96</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Inner Rim</td>
          <td class="table-data-value" data-label="Deep Core">72</td>
          <td class="table-data-value" data-label="Core">36</td>
          <td class="table-data-value" data-label="Colonies">24</td>
          <td class="table-data-value" data-label="Inner Rim">18</td>
          <td class="table-data-value" data-label="Expansion">24</td>
          <td class="table-data-value" data-label="Mid Rim">48</td>
          <td class="table-data-value" data-label="Outer Rim">72</td>
          <td class="table-data-value" data-label="Wild">96</td>
          <td class="table-data-value" data-label="Unknown">72</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Expansion Region</td>
          <td class="table-data-value" data-label="Deep Core">96</td>
          <td class="table-data-value" data-label="Core">60</td>
          <td class="table-data-value" data-label="Colonies">48</td>
          <td class="table-data-value" data-label="Inner Rim">24</td>
          <td class="table-data-value" data-label="Expansion">24</td>
          <td class="table-data-value" data-label="Mid Rim">24</td>
          <td class="table-data-value" data-label="Outer Rim">48</td>
          <td class="table-data-value" data-label="Wild">72</td>
          <td class="table-data-value" data-label="Unknown">96</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Mid Rim</td>
          <td class="table-data-value" data-label="Deep Core">120</td>
          <td class="table-data-value" data-label="Core">84</td>
          <td class="table-data-value" data-label="Colonies">72</td>
          <td class="table-data-value" data-label="Inner Rim">48</td>
          <td class="table-data-value" data-label="Expansion">24</td>
          <td class="table-data-value" data-label="Mid Rim">36</td>
          <td class="table-data-value" data-label="Outer Rim">24</td>
          <td class="table-data-value" data-label="Wild">48</td>
          <td class="table-data-value" data-label="Unknown">72</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Outer Rim</td>
          <td class="table-data-value" data-label="Deep Core">144</td>
          <td class="table-data-value" data-label="Core">96</td>
          <td class="table-data-value" data-label="Colonies">96</td>
          <td class="table-data-value" data-label="Inner Rim">72</td>
          <td class="table-data-value" data-label="Expansion">48</td>
          <td class="table-data-value" data-label="Mid Rim">24</td>
          <td class="table-data-value" data-label="Outer Rim">48</td>
          <td class="table-data-value" data-label="Wild">24</td>
          <td class="table-data-value" data-label="Unknown">60</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Wild Space</td>
          <td class="table-data-value" data-label="Deep Core">168</td>
          <td class="table-data-value" data-label="Core">120</td>
          <td class="table-data-value" data-label="Colonies">120</td>
          <td class="table-data-value" data-label="Inner Rim">96</td>
          <td class="table-data-value" data-label="Expansion">72</td>
          <td class="table-data-value" data-label="Mid Rim">48</td>
          <td class="table-data-value" data-label="Outer Rim">24</td>
          <td class="table-data-value" data-label="Wild">12</td>
          <td class="table-data-value" data-label="Unknown">120</td>
        </tr>
        <tr class="table-data">
          <td scope="row" class="table-data-property" data-label="Traveling From">Unknown Regions</td>
          <td class="table-data-value" data-label="Deep Core">192</td>
          <td class="table-data-value" data-label="Core">144</td>
          <td class="table-data-value" data-label="Colonies">96</td>
          <td class="table-data-value" data-label="Inner Rim">72</td>
          <td class="table-data-value" data-label="Expansion">60</td>
          <td class="table-data-value" data-label="Mid Rim">72</td>
          <td class="table-data-value" data-label="Outer Rim">96</td>
          <td class="table-data-value" data-label="Wild">120</td>
          <td class="table-data-value" data-label="Unknown">48</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
